* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 60vh;
}

body {
  background: url("/imagens/marte.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  width: 45%;
  height: 60%;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 0.625rem;
  display: flex;
}

.box form label,
span {
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: white;
}

.box form input[type="submit"] {
  padding: 10px 30px;
  background: white;
  color: black;
  font-weight: 600;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: 0.5s;
}
.box form input[type="submit"]:hover {
  background: rgb(88, 88, 88);
  color: white;
}

.box form input[type="text"],
textarea,
select {
  padding: 4px 10px;
  width: 200px;
  border-radius: 0.3125rem;
  border: none;
}

.box form input[type="email"] {
  padding: 4px 10px;
  width: 200px;
  border-radius: 0.3125rem;
  border: none;
}

.box form input[type="tel"] {
  padding: 4px 10px;
  width: 200px;
  border-radius: 0.3125rem;
  border: none;
}

.box form input[type="radio"] {
  margin-left: 10px;
}

/* Ao Clicar */
.box form input:focus,
select:focus,
textarea:focus {
  background: lightgrey;
  border: none;
  outline: none;
}

/* Bloqueio de Movimento Do textarea[Quadrado de Observação] */
/* resize none tira o controle do usuario sobre o tamanho do QUADRADO DE OBERSAVAÇÂO */
/* width=Largura */
/* height=Altura */

.box form textarea {
  resize: none;
  width: 200px;
  height: 150px;
}

h1 {
  font-size: 60px;
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
