      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins',sans-serif;
    }
    
    .topo {
        height: 8vh;
        background-color: rgb(83, 135, 135);
        width: 100%;
    }
    nav {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 10%;
        padding-right: 10%;
    }
    section {
        min-height: 90vh;
        width: 100%;
        background-color: rgb(83, 135, 135);
    }
    
    a{
        text-decoration: none;
        color: white;
    }

    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 20px;
    }

    nav ul li a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .sair {
        border: 2px solid black;
        border-radius: 8px;
        background-color: rgb(35, 192, 48);
        text-align: center;
        width: 70px;
        height: 33px;
        font-size: 20px;
    }
    .sair:hover{
        background-color: rgb(195, 62, 62);
    }

