
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
  }
body {
    background-color: dimgrey;
    margin: 0;
  }


  .head {
    background: #960000;
    padding: 40px 250px;
    font-weight: 600;
  }

  .formulario {
    border-radius: 10px;
    border-color: black;
    border: 2px;
    border-style: solid;
    width: 500px;
    height: 575px;
    background-color: rgba(255, 255, 255, 0.182);
    padding: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  .formulario h1 {
    text-align: center;
    display: block;
  }

  .formulario .input {
    justify-content: center;
    margin-bottom: 5px;
  }
  

  .logininput {
    background-color: whitesmoke;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 50px;
  }

  .passwordinput {
    background-color: whitesmoke;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 20px;
  }



 .inputsubmit {
  background-color: whitesmoke;
  padding: 15px;
  width: 85px;
  border-radius: 10px;
  color: rgba(62, 62, 62, 0.577);
  font-size: 20px;
  margin-left: 35%;
  margin-top: 35%;
  border-color: black;
  border: 2px;
  border-style: solid;
  
}
.inputsubmit:hover {
  border-radius: 10px;
  border-color: black;
  border: 2px;
  border-style: solid;
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}